﻿@model dynamic

@{
    ViewBag.Title = "Authentication App";
    Layout = "../Shared/_Master.cshtml";
}

@section Scripts
{
    <script src="~/Client/Scripts/users.js"></script>
}

<div>
    <h2>User info</h2>
    <p id="info" />
</div>
<div>
    <h2>Search by ID</h2>
    <input type="text" id="userId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="user" />
</div>
<div>
    <h2>All Users</h2>
    <ul id="users" />
</div>